:root{
    --azul: #2A4DD0;
    --verde: #4CA154;
    --preto:#111729;
    --cinza-escuro:#223344;
    --cinza-claro:#909193;
    --azul-esverdeado:#F2F9FE;
    --branco:#FFFFFF;
}
body{
    background-color: var(--azul-esverdeado);
    font-family: 'Poppins', sans-serif;
}
@media screen and (max-width: 660px){
    .middle , .switch-light{
        display: none;
}
}
nav{
    padding: 20px;
    
}
nav ul {
    list-style: none;
}
.picture-floating
{
    margin-top: 60px;
    height: 550px;
    width: 550px;
    display: flex;
  
}
.way{
    text-transform: uppercase;
    font-size: 14px;
    color: var(--cinza-escuro);
    font-weight: 600;
    margin: 50px;

}
.subtitle{
    color: var(--preto);
    font-weight: 500;
  
}
h1{
    font-size: 60px;
    color: var(--cinza-escuro);
    margin:50px

}
.credit{
    display: flex;

}
